@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-motion";

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --color-primary: var(--color-sky-700);
  --color-primary-hover: var(--color-sky-800);
  --color-secondary: var(--color-sky-600);
  --color-accent: var(--color-cyan-500);

  --color-highlight: var(--color-sky-800);
  --color-primary-bg: var(--color-white);

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;
  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-home-pattern: url("/images/banner1.jpg");
  --background-image-showcase-pattern: url("/images/showcase23.png");

  --animate-spin-bg: spin-bg 4s linear infinite;
  --animate-border-glow: border-glow 6s linear infinite;
  --animate-border-spin: border-spin 3s linear infinite;

  @keyframes spin-bg {
    to {
      --angle: 360deg;
    }
  }

  @keyframes border-glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  @keyframes border-spin {
    100% {
      transform: rotate(-360deg);
    }
  }
}

@layer base {
  .theme-light {
    --color-secondary: var(--color-sky-600);

    --color-primary: var(--color-sky-700);
    --color-primary-hover: var(--color-sky-800);

    --color-highlight: var(--color-sky-800);
    --color-primary-bg: var(--color-white);
  }

  .theme-dark {
    --color-secondary: var(--color-sky-600);

    --color-primary: var(--color-sky-700);
    --color-primary-hover: var(--color-sky-800);

    --color-highlight: var(--color-sky-800);
    --color-primary-bg: var(--color-white);
  }
}

@utility border-rotating {
  position: relative;
  background: conic-gradient(
    from var(--angle),
    var(--color-primary) 0deg,
    var(--color-secondary) 120deg,
    var(--color-accent) 240deg,
    var(--color-primary) 360deg
  );
  /* mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); */
  mask-composite: exclude;
  animation: var(--animate-spin-bg);
}

@utility text-gradient {
  @apply bg-linear-to-r from-primary to-secondary/80 bg-clip-text text-transparent;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
