@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-motion";

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --color-primary: var(--color-sky-800);
  --color-primary-hover: var(--color-sky-800);
  --color-secondary: var(--color-sky-600);
  --color-accent: var(--color-cyan-600);

  --color-highlight: var(--color-sky-900);
  --color-primary-bg: var(--color-white);

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;
  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-home-pattern: url("/images/banner3.jpg");
  --background-image-showcase-pattern: url("/images/showcase23.jpg");

  --animate-spin-bg: spin-bg 4s linear infinite;

  @keyframes spin-bg {
    to {
      --angle: 360deg;
    }
  }
}

@layer base {
  html {
    /* font-family: var(--font-dm-sans); */
    /* scroll-behavior: smooth; */
    color: var(--color-primary);
    /* border-color: var(--color-red-500); */
    /* background-color: var(--color-primary-bg); */
  }

  .theme-light {
    --color-secondary: var(--color-sky-600);

    --color-primary: var(--color-sky-700);
    --color-primary-hover: var(--color-sky-800);

    --color-highlight: var(--color-sky-800);
    --color-primary-bg: var(--color-white);
  }

  .theme-dark {
    --color-secondary: var(--color-sky-600);

    --color-primary: var(--color-sky-700);
    --color-primary-hover: var(--color-sky-800);

    --color-highlight: var(--color-sky-800);
    --color-primary-bg: var(--color-white);
  }
}

@utility border-spin {
  position: relative;
  padding-bottom: 4px;
  border-radius: 1.5rem 1.5rem 1rem 1rem;
  background: conic-gradient(
    from var(--angle),
    var(--color-primary) 0deg,
    var(--color-green-500) 90deg,
    var(--color-blue-500) 180deg,
    var(--color-accent) 270deg,
    var(--color-primary) 360deg
  );
  /* mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); */
  mask-composite: exclude;
  animation: var(--animate-spin-bg);
}

@utility text-gradient {
  @apply bg-linear-to-r from-primary to-secondary/80 bg-clip-text text-transparent;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
